body {
    background-color: #f1f1f1;
    color: #1d1a1ad9 ;

    font-size: 16px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:blue
}
a:visited{
    color:#86898f
}
.pic {
    width: 300px;
    border-radius: 28px;
    box-shadow: 14px -1px 20px 8px rgba(0,0,0,0.25);
}
.info p {
    color: #86898f;
    font-style: italic;
    text-decoration:none;
    text-transform:lowercase;
    

}
/*.social {
    background: ##21b7db8c;
     padding: 15px;
     padding: 15px 40px;
     border:5px solid #3967c35e;
     border-width: 15px;
     border-style: double;
     margin: 15px;
     padding: 15px 20px 20px 15px; вверх, вправо, вниз, влево
     
}*/

.container {max-width:75%;
    margin:auto;
    }
    .card{
        padding: 15px 40px;
        margin-bottom: 15px;
        border-radius: 20px;
    }
    .bg-yellow {
        background: #fff9dc;
    }
    .bg-green {
        background: rgba(88, 75, 75, 0);
    }
    .bg-red {
        background: #ffe5e5;
    }
    .bg-blue {
        background: #8ee3ff;
    }
    .list {
        list-style: none;
    }
    .list li{
        color: #86898f;
        margin-bottom: 10px;
    }
    .table  {
width: 100%;
    }
    table td{
        padding-bottom: 10px;
    }
    .table td:nth-child(2),
    .table td:nth-child(3) {
        color: #86898f;
    }
    .link-list {
        list-style: square;
    }
    .link-list li {
        margin-bottom: 10px;
        /*padding-bottom: 5px;*/
        border-bottom: 1px solid #ccc
    }

    .contact h1{
        text-align: center
    }
    .form-group label {
        display: block;
        font-size: 14px;
        color: #86898f;
    }
    .form-group input,
     .form-group textarea{
        width:100%;
        box-sizing: border-box;
        border: none;
        background: transparent; 
        border-bottom: 1px solid #86898f;
        color: black;
        padding: 15px 0 10px;
        outline:none;
        font-family:inherit;
    } 
    
    .info {
        display: flex;
        margin-bottom: 20px;
    }
    .btn {
        background: black;
        padding: 15px 30px;
        color: white;
        border: none;
        font-family: inherit;
        cursor: pointer;
        font-size: larger;
    }
    .btn:hover{
        opacity: 0.5;
        

    }
    .position {

    }

    .box{
        width:50px;
        height: 50px;
        background: lightcoral;
    }